/* Canvas */

.canvas_group
{
    overflow: auto;
    position: relative;
}

canvas
{
    grid-area: main-canvas;
    overflow: scroll;
}



#prev_canvas
{
    
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}

#bg_canvas
{
    
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
}