#backgroundDiv {
    position: fixed;

    --bgDiv-width: 284vw;
    --bgDiv-height: 284vh;

    --bgDiv-transform-rotate: 0deg;
    --bgDiv-transform-translate-x: 0px;
    --bgDiv-transform-translate-y: 0px;

    --bgDiv-img-size: 64px;
    --bgDiv-img-scale: 1.0;

    left: calc(50vw - (var(--bgDiv-width)/2));
    top: calc(50vh - (var(--bgDiv-height)/2));

    width: var(--bgDiv-width);
    height: var(--bgDiv-height);

}

#backgroundDiv::before {
    position: absolute;
    content: "";
    background-repeat: repeat;
    overflow: hidden;

    background-size: calc(var(--bgDiv-img-scale) * var(--bgDiv-img-size));
    background-image: url(../img/cvs_bg.png);

    width: var(--bgDiv-width);
    height: var(--bgDiv-height);

    transform-origin: calc(var(--bgDiv-transform-translate-x) - (50vw - (var(--bgDiv-width)/2))) calc(var(--bgDiv-transform-translate-y) - (calc(50vh - (var(--bgDiv-height)/2))));

    /* Position of Canvas' (0,0) in backgroundDiv */
    --bgDiv-cvs-orig-in-bgDiv-x: calc(var(--bgDiv-width)/2 - 50vw);
    --bgDiv-cvs-orig-in-bgDiv-y: calc(var(--bgDiv-height)/2 - 50vh);
    background-position: calc(var(--bgDiv-cvs-orig-in-bgDiv-x) + var(--bgDiv-transform-translate-x)) calc(var(--bgDiv-cvs-orig-in-bgDiv-y) + var(--bgDiv-transform-translate-y));
    transform: rotate(var(--bgDiv-transform-rotate));
}