#backgroundDiv {
    position: fixed;

    --bgDiv-width: 284vw;
    --bgDiv-height: 284vh;

    --bgDiv-transform-rotate: 0deg;
    --bgDiv-transform-translate-x: 0px;
    --bgDiv-transform-translate-y: 0px;

    left: calc(50vw - (var(--bgDiv-width)/2));
    top: calc(50vh - (var(--bgDiv-height)/2));

    width: var(--bgDiv-width);
    height: var(--bgDiv-height);

}

#backgroundDiv::before {
    position: absolute;
    content: "";
    background-repeat: repeat;
    overflow: hidden;

    background-size: 64px 64px;
    background-image: url(../img/cvs_bg.png);

    width: var(--bgDiv-width);
    height: var(--bgDiv-height);

    transform-origin: calc(var(--bgDiv-transform-translate-x) - (50vw - (var(--bgDiv-width)/2))) calc(var(--bgDiv-transform-translate-y) - (calc(50vh - (var(--bgDiv-height)/2))));
    background-position: var(--bgDiv-transform-translate-x) var(--bgDiv-transform-translate-y);
    transform: rotate(var(--bgDiv-transform-rotate));
}