#backgroundDiv {
    position: fixed;

    --bgDiv-width: 300vw;
    --bgDiv-height: 300vw;

    --bgDiv-transform-origin-x: center;
    --bgDiv-transform-origin-y: center;
    --bgDiv-transform-rotate: 0deg;
    --bgDiv-transform-translate: 0px 0px;

    left: calc(50vw - (var(--bgDiv-width)/2));
    top: calc(50vh - (var(--bgDiv-height)/2));

    width: var(--bgDiv-width);
    height: var(--bgDiv-height);

}

#backgroundDiv::before {
    position: absolute;
    content: "";
    background-repeat: repeat;
    overflow: hidden;

    background-size: 64px 64px;
    background-image: url(../img/cvs_bg.png);

    width: var(--bgDiv-width);
    height: var(--bgDiv-height);

    transform-origin: var(--bgDiv-transform-origin-x) var(--bgDiv-transform-origin-y);
    background-position: var(--bgDiv-transform-translate);
    transform: rotate(var(--bgDiv-transform-rotate));
}